*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins;
background:#0e0e0e;
color:white;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111;
position:relative;
}

.logo{
height:70px;
}

.logo-area{
display:flex;
align-items:center;
gap:10px;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
font-weight:500;
transition:0.3s;
}

nav a:hover{
color:#ffd000;
}

/* HERO COM LOGO DE FUNDO */

.hero{

text-align:center;
padding:140px 20px;

background:
linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.9)),
url("img/logo.png");

background-size:500px;
background-repeat:no-repeat;
background-position:center;

}

.hero h2{
font-size:42px;
color:#ffd000;
margin-bottom:20px;
}

.hero p{
margin-bottom:40px;
font-size:18px;
}

.btn-agendar{
background:#ffd000;
color:black;
padding:15px 40px;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.btn-agendar:hover{
transform:scale(1.05);
}

/* QUEM SOMOS */

.quem{
padding:100px 20px;
text-align:center;
max-width:800px;
margin:auto;
}

.quem h2{
color:#ffd000;
margin-bottom:30px;
font-size:32px;
}

/* GALERIA */

.galeria{
padding:100px 20px;
text-align:center;
}

.galeria h2{
margin-bottom:40px;
color:#ffd000;
}

.carrossel{
display:flex;
gap:20px;
overflow-x:auto;
padding:20px;
}

.carrossel img{
height:260px;
border-radius:10px;
transition:0.4s;
cursor:pointer;
}

.carrossel img:hover{
transform:scale(1.1);
}

/* AGENDAR */

.agendar{
padding:120px 20px;
text-align:center;
background:#141414;
}

.agendar h2{
color:#ffd000;
margin-bottom:20px;
}

.agendar-texto{
margin-bottom:40px;
font-size:18px;
}

/* CONTATO */

.contato{
padding:120px 20px;
text-align:center;
}

.contato h2{
color:#ffd000;
margin-bottom:25px;
}

.endereco{
margin-bottom:35px;
line-height:1.8;
font-size:18px;
}

.btn-contato{
display:inline-block;
background:linear-gradient(45deg,#0d6efd,#2b8cff);
padding:15px 35px;
border-radius:8px;
text-decoration:none;
color:white;
font-weight:600;
}

/* FOOTER */

footer{
background:#000;
text-align:center;
padding:25px;
margin-top:50px;
}

/* MENU MOBILE */

.menu-toggle{
display:none;
font-size:28px;
cursor:pointer;
}

@media (max-width:768px){

nav{
position:absolute;
top:90px;
right:10px;
background:#111;
flex-direction:column;
display:none;
padding:20px;
border-radius:10px;
}

nav a{
margin:10px 0;
}

nav.active{
display:flex;
}

.menu-toggle{
display:block;
}

}